*,
*::before,
*::after {
    box-sizing: border-box;
    /* border: 2px dotted red; */
}

html,
body,
.wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

body {
    font-family: sans-serif;
    background-color: lightgray;
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: center;
    padding: 20px;
    padding-top: 0;
    color: teal;
}

.card {
    background-color: teal;
    border-radius: 20px;
    border-width: 1px;
    color: white;
    font-style: 18px;
    margin: 0 auto;
    max-width: 550px;
    padding: 10px;
    border: 4px solid black;
}

.card-header::after {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
}

.card-body {
    min-height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

#header {
    width: 100%;
    font-size: 1.2rem;
}

.card-body hr{
    width: 100%;
}

.card-body h4 {
    margin: 5px;
}

.card-body h5 {
    margin: 5px;
    width: 50%;
    text-align: left;
}

.card-footer {
    text-align: center;
}

.card-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background-color: #fff;
    height: 2px;
}

.card-footer::after {
    content: " ";
    display: block;
    clear: both;
}

.btn {
    background-color: hsl(360,91%,36%);
    border: 3px solid black;
    border-radius: 25px;
    box-shadow: rgba(0,0,0,0.1) 0px 1px 6px 0px rgba(0,0,0.0.2) 0px 1px 1px; 
    color: hsl(0,0%,100%);
    display: inline-block;
    font-size: 22px;
    line-height: 22px;
    margin: 16px 16px 16px 20px;
    padding: 14px 34px;
    text-align: center;
    cursor: pointer;
}

button[disabled] {
    cursor: default;
    background: #c0c7cf;
}

.float-right {
    float: right;
}

#password {
    margin: auto;
    font-size: 1.5rem;
}

#savedPasswords {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 4px solid black;
    max-width: 550px;
    margin: 20px auto;
    border-radius: 8px;
    background: #4caf50;
}

#savedPasswords>h2 {
    width: 100%;
    text-align: center;
}

#savedPasswords button {
    background: teal;
    color: white;
    margin: 5px;
    border-radius: 8px;
    border: 4px solid #000;
    padding: 5px;
}

#clearPassword {
    width: 50%;
    font-size: 1.2rem;
    background: yellow;
    border-radius: 8px 0 0 8px;
}

#savePassword {
    background: hsl(150, 91%, 36%);
    border-radius: 0 8px 8px 0;
    font-size: 1.2rem;
    color: white;
    height: 30px;
    width: 50%;
    opacity: 1;
}

#hanSav {
    display: none;
    margin-top: 20px;
}

#params {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 25px;
}

#params>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#params>h1 {
    margin: auto;
    overflow-wrap: anywhere;
}

#meter span {
    font-size: 12px;
    position: relative;
    left: 5px;
}

#counter {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding-left: 5px; */
}

#range {
    width: 100%;
    appearance: none;
    /* height: 18px; */
    border-radius: 20px;
    /* outline: none; */
    opacity: .7;
    transition: opacity .2s;
    /* background: #d3d3d3; */
    background: yellow;
    cursor: pointer;
}

#range:hover {
    opacity: 1;
}

#generate {
    margin-bottom: 0;
}

@media (max-width: 690px) {
    .btn {
        font-size: 1rem;
        margin: 16px 0px 0px;
        padding: 10px 15px;
    }

    #password {
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .btn {
        font-size: 0.8rem;
    }
}
